* {
  margin: 0;
}

 {
}

.first {
  /* background-color: powderblue; */
  background: url(images2.jpg);
  width: 100%;
  height: 100vh;
  img {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 130px;
    width: 140px;
  }
  select {
    position: absolute;
    right: 140px;
    top: 40px;
  }
  button {
    position: absolute;
    right: 60px;
    top: 40px;
    color: white;
    background-color: red;
  }
}
.second {
  /* background-color: black; */
  width: 100%;
  height: 100vh;
}
.third {
  /* background-color: grey; */
  width: 100%;
  height: 100vh;
}
